.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
}

.nav-sticky {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0%;
    margin: 0%;
}