.wrapper {
    display: flex;
	flex-wrap: wrap;
    padding-left: 12vw;
	padding-right: 12vw;
    border: 1px solid black;
}
.wrapper-centred {
    display: flex;
    justify-content: center;
    align-items: center;
}